.container{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /* width: fit-content;
    height:fit-content; */
    border-radius: 10px;
}
.stars{
    /* margin-right: 3; */
    cursor: "pointer";
    text-align: center;
}
.rate{
    margin-top: -4rem;
    border: 1px solid white;
    height: 90px;
    width: 450px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rated p{
    padding: 10px 25px;
    background-color: cyan;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
}
.rated{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
.rated:hover{
    opacity: 0.6;
}
/* .later{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 120%);
    margin-top: 9px;
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    background-color: cyan;
    border-radius: 5px;
} */
.later {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.later p{
    padding: 12px;
    background-color: cyan;
    cursor: pointer;
    border-radius: 10px;
}
.later:hover{
    opacity: 0.5;
}

textarea{
    border: none;
    outline: none;
    margin-top: 0.7rem;
    border-radius: 5px;
}

textarea::placeholder{
    /* margin-top: -20px; */
    margin-left: 8rem;
}
