.pagelayout-hold{
    display: flex;
    width: 100%;
    height: 100%;
}
.pagelayout-topbar h2{
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.pagelayout-topbar-dark h2{
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.pagelayout-topbar-dark h2, .pagelayout-topbar-dark p{
    cursor: pointer;
    color: white;
}
.pagelayout-body-parent{
    margin-left: 1rem;
    width: 100%;
    height: 100vh;
    margin-right: 4%;
}
.top-bar{
    display: flex;
    padding-right: 7%;
    gap: 1rem;
    float: right;
    margin-top: 0.5rem;
    height: 10%;

}
.top-bar p{
    cursor: pointer;
}
.pagelayoutsearch{
    display: flex;
    gap: 6px;
    cursor: pointer;
}
.pagelayoutserach p{
    padding: 0 0 0 4px;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 0px;
}
.pagelayoutsearch-active{
    color: cyan;
}
.pagelayoutsearch-active p{
    color: cyan;
}
.pagelayout-body{
    height: 90vh;
}
#location{
    text-transform: capitalize;
    color: cyan;
    text-align: center;
    margin-top: 35px;
}

.logout-div{
    display: flex;
}
#create-show{
    color: cyan;
}