.text-area-category{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20.9rem;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}
.text-area-category h2{
    color: white;
    margin-left: 0.8em;
}

