.all-items{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:fit-content;
    border-radius: 10px;
}
.theme-dark{
    position: absolute;
    background-color: gainsboro;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:fit-content;
    border-radius: 10px;
}

#cancel{
    color: black;
    font-weight: 500;
    font-size: large;
    border: none;
    outline: none;
    background: 0;
    padding: 0 0.4rem;
    cursor: pointer;
    float: right;
    margin-top: -0.3%;
}
#pcancel{
    color: black;
    font-weight: 500;
    font-size: large;
    position: absolute;
    right: 37.2rem;
    top: 6.1rem;
    border: none;
    outline: none;
    background: 0;
    padding: 0 0.4rem;
    cursor: pointer;
}
#pcancel:hover{
    background-color: red;
    padding:0 0.4rem ;
    color: white;
    border-radius: 3px;
}
#cancel:hover{
    background-color: red;
    padding:0 0.4rem ;
    color: white;
    border-radius: 3px;
}
.first{
    margin-left: 5.5rem;

}
.first input{
    width: 72%;
    margin-top: 1.5rem;
    padding-top: 0;
    /* margin-top: 0.6rem; */
    outline: none;
    background: 0;
    border: none; 
    width: 80%;   
    /* height: 35px; */
    border-bottom: 1px solid black;
    
}
 
 .specific-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    width: 500px;
    max-width: 550px;

}
.specific-search-child{
    /* margin-top: 10px; */
    display: grid;
    grid-row-gap: 1.4rem;
    padding-bottom: 20px;
    justify-items: center;
    width: 80%;
    border-radius: 10px;
    border: 1px solid gray;
}

 .radio{
    margin-top:10px;
    margin-left:30px;
}

/* .specific-search::before{
    content: "Product Specific Search";
    color: cyan;
    position: absolute;
    letter-spacing: 0.5px;
    top: 39%;
    left: 43.5%;
} */
.search-items{
   padding-bottom: 2rem;
}

.search{
    /* padding: 0 auto; */
    outline: none;
    border: none;
    background-color: cyan;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: large;
    margin-bottom: 1rem;
    margin-left: 0;
    /* align-self: center;
    text-align: center; */
}
.disabled{
    background-color: gray;
    margin-bottom: 1rem;
    margin-left: 0;


}
.search:hover{
    opacity: 0.5;
}
.send-button{
    display: flex;
    justify-content: center;
    align-items:  center;
}
.specific-search input{
    margin-top: 0.6rem;
    outline: none;
    background: 0;
    border: none; 
    width: 80%;   
    /* height: 35px; */
    border-bottom: 1px solid black;
}
.specific-search input:focus{
    outline: none;
    background: 0;
    border: none;
    border-bottom: 1px solid black;
}
.specific-search input:focus::placeholder{
    color: cyan;
    position: absolute;
    bottom: 10px;
}
/* 
@media (min-width:1146px){
    .all-items{
        background-color: white;
        width: 30%;
        height: 72%;
        border-radius: 10px;
    }
}
@media (max-width:1132px){
    .all-items{
        background-color: white;
        width: 30%;
        height: 72%;
        border-radius: 10px;
    }
    .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 39%;
        left: 41%;
    }
}
@media (max-width:910px){
    .all-items{
        background-color: white;
        width: 45%;
        height: 72%;
        border-radius: 10px;
    }
    .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 39%;
        left: 42.5%;
    }
}
@media (max-width:630px){
    .all-items{
        background-color: white;
        width: 55%;
        height: 72%;
        border-radius: 10px;
    }
    .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 39%;
        left: 35%;
    }
}
@media (max-width:567px){
    .all-items{
        background-color: white;
        width: 57%;
        height: 63%;
        border-radius: 10px;
    }
    .specific-search::before{
        content: "Product Specific Search";
        color: cyan;
        position: absolute;
        letter-spacing: 0.5px;
        top: 40.4%;
        left: 35%;
    }
}
@media (min-width:1569px){
    .all-items{
        background-color: white;
        width: 30%;
        height: 72%;
        border-radius: 10px;
    }
    .specific-search{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 80%;
        
    }
} */